{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create your own art with Neural Style Transfer | Created by Michael Eco</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_preload_css %} {% tailwind_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'canvas/app.css' %}" />
  </head>

  <body class="font-serif leading-normal tracking-normal">
    <div class="container mx-auto">
      <section class="flex flex-col items-center justify-center h-screen">
        <div class="w-72">
          <img src="{% static 'canvas/resources/K4D.gif' %}" />
        </div>
        <div class="flex justify-center items-center">
          <div class="border border-sky-800 border-opacity-20 shadow w-[700px] h-8 rounded-full overflow-x-hidden">
            <div class="w-0 h-full bg-sky-800 progress"></div>
          </div>
          <div class="grid place-items-center ml-4">
            <p class="percentage font-bold"></p>
          </div>
        </div>
        <div class="mt-4">
          <p class="caption"></p>
        </div>
      </section>
    </div>
    <script src="{% static 'canvas/app.js' %}"></script>
  </body>
</html>
