{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create your own art with Neural Style Transfer | Created by Michael Eco</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_preload_css %} {% tailwind_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/app.css' %}" />
  </head>

  <body class="font-serif leading-normal tracking-normal">
    <div class="container mx-auto">
      <section class="flex flex-col items-center justify-center h-screen">
        <div class="mb-12">
          <div class="mb-12 w-full">
            <h3 class="font-bold text-3xl w-96 text-center mx-auto">Create your own art with Neural Style Transfer</h3>
          </div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="flex justify-between items-center">
              <!-- content form -->
              <div class="mr-12">
                <div class="mb-8">
                  <img class="w-72 h-72 bg-gray-200 rounded" id="content-preview" alt="Content image will be displayed here" />
                </div>
                <div>{{ content_form }}</div>
              </div>
              <div>
                <div class="mb-8">
                  <img class="w-72 h-72 bg-gray-200 rounded" id="style-preview" alt="Style image will be displayed here" />
                </div>
                <div>{{ style_form }}</div>
              </div>
              <!-- <button type="submit">Upload</button> -->
            </div>
          </form>
          <!-- {% if content_img %}
          <h3>Succesfully uploaded</h3>
          <img src="{{ content_img.content_img.url}}" alt="connect" style="max-height: 300px" />
          {% endif %}
          {% if content_img %}
          <h3>Succesfully uploaded</h3>
          <img src="{{ style_img.style_img.url}}" alt="connect" style="max-height: 300px" />
          {% endif %} -->
        </div>
      </section>
    </div>
    <script src="{% static 'index/app.js' %}"></script>
  </body>
</html>
